:root {
  --ppi: 153;
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  background-color: #000;
  margin: 0;
  position: relative;
  overflow: hidden;
  font-size: 12px;
}

kalimba_body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#kalimba {
  display: flex;
  justify-content: space-around;
  margin-top: calc((var(--ppi) / 25.4) * 20px);
  /*margin-top: calc((var(--ppi) / 25.4) * 0px);*/
  height: calc((var(--ppi) / 25.4) * 70px);
  width: calc((var(--ppi) / 25.4) * 110px);
  background-color: #5c2315;
  border-radius: 20px;
  position: relative;
  box-shadow: 10px 10px 25px #000, inset 5px 5px 10px rgba(107, 107, 107, 0.4),
    inset -5px -5px 10px rgba(0, 0, 0, 0.4);
}

.key {
  /*margin-top: calc((var(--ppi) / 25.4) * 2px);*/
  margin-top: calc((var(--ppi) / 25.4) * 2px);
  width: calc((var(--ppi) / 25.4) * 4px);
  height: calc((var(--ppi) / 25.4) * 60px);
  border-radius: calc((var(--ppi) / 25.4) * 1px);
  background-color: #dbd4ca;
  box-shadow: 5px 5px 20px #000;
  z-index: 10;
  font-size: 100%;
  position: relative;
}

.key:first-child {
  margin-left: calc((var(--ppi) / 25.4) * 4px);
}

.key.last-key {
  margin-right: calc((var(--ppi) / 25.4) * 4px);
}

.key[data-note="C4"] {
  background-color: #d94251;
}

.key[data-note="A4"] {
  background-color: #d94251;
}

.key[data-note="B4"] {
  background-color: #d94251;
}

.key[data-note="G5"] {
  background-color: #d94251;
}

.key[data-note="A5"] {
  background-color: #d94251;
}

top-pad {
  position: absolute;
  width: calc((var(--ppi) / 25.4) * 104px);
  background-color: #c26f43;
  background-color: #dbd4ca;
  display: flex;
  align-items: center;
  justify-content: space-around;
  top: calc((var(--ppi) / 25.4) * 22px);
  border-radius: calc((var(--ppi) / 25.4) * 1px);
  height: calc((var(--ppi) / 25.4) * 3px);
  box-shadow: 5px 5px 25px #000, inset 5px 5px 25px rgba(255, 255, 255, 0.5),
    inset -5px -5px 25px rgba(0, 0, 0, 0.5);
  z-index: 20;
}

bottom-pad {
  position: absolute;
  width: calc((var(--ppi) / 25.4) * 106px);
  background-color: #291e1b;
  top: calc((var(--ppi) / 25.4) * 10px);
  height: calc((var(--ppi) / 25.4) * 8px);
  border-radius: calc((var(--ppi) / 25.4) * 1px);
  box-shadow: 2px 2px 5px #000, inset 5px 5px 15px rgba(255, 255, 255, 0.3),
    inset -5px -5px 15px rgba(0, 0, 0, 0.3);
}

bottom-pad.last-pad {
  top: calc((var(--ppi) / 25.4) * 50px);
}

.key:hover {
  background-color: #e6e3e3;
}
/*
.key:active {
  background-color: #42a1f5;
}

.key_active {
  background-color: #42a1f5 !important;
}
*/

animation_body {
  display: flex;
  justify-content: center;
  align-items: center;
}

key-note-animation {
  position: relative;
  margin-top: calc((var(--ppi) / 25.4) * 20px);
  /*margin-top: calc((var(--ppi) / 25.4) * 18px);*/
  z-index: 20;
}

[data-key-note] {
  pointer-events: none;
  width: calc((var(--ppi) / 25.4) * 4px);
  height: calc((var(--ppi) / 25.4) * 6px);
  margin: 1px;
  background-color: #42a1f5;
  font-size: 14px;
  position: absolute;
  animation-name: key-note-animation;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  border-radius: calc((var(--ppi) / 25.4) * 2px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

[data-key-note="D6"] {
  left: calc((var(--ppi) / 25.4) * -50px);
}

[data-key-note="B5"] {
  left: calc((var(--ppi) / 25.4) * -44px);
}

[data-key-note="G5"] {
  left: calc((var(--ppi) / 25.4) * -38px);
}

[data-key-note="E5"] {
  left: calc((var(--ppi) / 25.4) * -32px);
}

[data-key-note="C5"] {
  left: calc((var(--ppi) / 25.4) * -26px);
}

[data-key-note="A4"] {
  left: calc((var(--ppi) / 25.4) * -20px);
}

[data-key-note="F4"] {
  left: calc((var(--ppi) / 25.4) * -14px);
}

[data-key-note="D4"] {
  left: calc((var(--ppi) / 25.4) * -8px);
}

[data-key-note="C4"] {
  left: calc((var(--ppi) / 25.4) * -2px);
}

[data-key-note="E4"] {
  left: calc((var(--ppi) / 25.4) * 4px);
}

[data-key-note="G4"] {
  left: calc((var(--ppi) / 25.4) * 10px);
}

[data-key-note="B4"] {
  left: calc((var(--ppi) / 25.4) * 16px);
}

[data-key-note="D5"] {
  left: calc((var(--ppi) / 25.4) * 22px);
}

[data-key-note="F5"] {
  left: calc((var(--ppi) / 25.4) * 28px);
}

[data-key-note="A5"] {
  left: calc((var(--ppi) / 25.4) * 34px);
}

[data-key-note="C6"] {
  left: calc((var(--ppi) / 25.4) * 40px);
}

[data-key-note="E6"] {
  left: calc((var(--ppi) / 25.4) * 46px);
}

[data-key-note="C-1"] {
  display: none;
}

@keyframes key-note-animation {
  0% {
    opacity: 0;
    background-color: #42a1f5;
  }
  10% {
    opacity: 1;
    background-color: #42a1f5;
  }
  90% {
    opacity: 1;
    background-color: #42a1f5;
  }
  /*90% {
    background-color: #e7f326;
  }*/
  100% {
    opacity: 0;
    transform: translateY(200px);
  }
}
