:root {
  --ppi: 153;
  --width_pixel: 844;
  --height_pixel: 390;
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  background-color: #000;
  margin: 0;
  position: relative;
}

kalimba_body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#kalimba {
  display: flex;
  justify-content: space-around;
  height: 200px;
  width: calc((var(--ppi) / 25.4) * 110px);
  background-color: #c26f43;
  border-radius: 20px;
  position: relative;
  box-shadow: 10px 10px 25px #000, inset 5px 5px 10px rgba(255, 255, 255, 0.4),
    inset -5px -5px 10px rgba(0, 0, 0, 0.4);
}

.key {
  margin-top: calc(10% / (var(--height_pixel) / var(--ppi) * 2.54 * 10) * 100);
  width: calc(4% / (var(--width_pixel) / var(--ppi) * 2.54 * 10) * 100);
  height: calc(40% / (var(--height_pixel) / var(--ppi) * 2.54 * 10) * 100);
  border-radius: calc(1% / (var(--width_pixel) / var(--ppi) * 2.54 * 10) * 100);
  background-color: #ada097;
  box-shadow: 5px 5px 20px #000;
  z-index: 10;
  font-size: 100%;
  position: relative;
}

.key:first-child {
  margin-left: calc(10% / (var(--width_pixel) / var(--ppi) * 2.54 * 10) * 100);
}

.key.last-key {
  margin-right: calc(10% / (var(--width_pixel) / var(--ppi) * 2.54 * 10) * 100);
}

.key[data-note="C4"] {
  background-color: #d94251;
}

.key[data-note="A4"] {
  background-color: #d94251;
}

.key[data-note="B4"] {
  background-color: #d94251;
}

.key[data-note="G5"] {
  background-color: #d94251;
}

.key[data-note="A5"] {
  background-color: #d94251;
}

top-pad {
  position: absolute;
  width: calc(104% / (var(--width_pixel) / var(--ppi) * 2.54 * 10) * 100);
  background-color: #c26f43;
  background-color: #ada097;
  display: flex;
  align-items: center;
  justify-content: space-around;
  top: calc(30% / (var(--height_pixel) / var(--ppi) * 2.54 * 10) * 100);
  border-radius: calc(1% / (var(--width_pixel) / var(--ppi) * 2.54 * 10) * 100);
  height: calc(3% / (var(--height_pixel) / var(--ppi) * 2.54 * 10) * 100);
  box-shadow: 5px 5px 25px #000, inset 5px 5px 25px rgba(255, 255, 255, 0.5),
    inset -5px -5px 25px rgba(0, 0, 0, 0.5);
  z-index: 20;
}

bottom-pad {
  position: absolute;
  width: calc(102% / (var(--width_pixel) / var(--ppi) * 2.54 * 10) * 100);
  background-color: #c26f43;
  top: calc(10% / (var(--height_pixel) / var(--ppi) * 2.54 * 10) * 100);
  height: calc(10% / (var(--height_pixel) / var(--ppi) * 2.54 * 10) * 100);
  border-radius: calc(1% / (var(--width_pixel) / var(--ppi) * 2.54 * 10) * 100);
  box-shadow: 2px 2px 5px #000, inset 5px 5px 15px rgba(255, 255, 255, 0.3),
    inset -5px -5px 15px rgba(0, 0, 0, 0.3);
}

bottom-pad.last-pad {
  top: calc(50% / (var(--height_pixel) / var(--ppi) * 2.54 * 10) * 100);
}

.key:hover {
  background-color: #e6e3e3;
}

.key:active {
  background-color: #42a1f5;
}

.key_active {
  background-color: #42a1f5 !important;
}

animation_body {
  display: flex;
  justify-content: center;
  align-items: center;
}

key-note-animation {
  position: relative;
  margin-bottom: 100px;
  margin-top: 50px;
  right: 143px;
  right: 150px;
  top: 0px;
  z-index: 20;
}

[data-key-note] {
  pointer-events: none;
  width: 12px;
  height: 30px;
  margin: 1px;
  background-color: #42a1f5;
  font-size: 14px;
  position: absolute;
  animation-name: key-note-animation;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

[data-key-note="D6"] {
  left: 15px;
}

[data-key-note="B5"] {
  left: 31px;
}

[data-key-note="G5"] {
  left: 47px;
}

[data-key-note="E5"] {
  left: 63px;
}

[data-key-note="C5"] {
  left: 79px;
}

[data-key-note="A4"] {
  left: 95px;
}

[data-key-note="F4"] {
  left: 111px;
}

[data-key-note="D4"] {
  left: 127px;
}

[data-key-note="C4"] {
  left: 142px;
}

[data-key-note="E4"] {
  left: 158px;
}

[data-key-note="G4"] {
  left: 174px;
}

[data-key-note="B4"] {
  left: 190px;
}

[data-key-note="D5"] {
  left: 206px;
}

[data-key-note="F5"] {
  left: 222px;
}

[data-key-note="A5"] {
  left: 238px;
}

[data-key-note="C6"] {
  left: 254px;
}

[data-key-note="E6"] {
  left: 269px;
}

[data-key-note="C-1"] {
  display: none;
}

@keyframes key-note-animation {
  0% {
    opacity: 0;
    background-color: #42a1f5;
  }
  10% {
    opacity: 1;
    background-color: #42a1f5;
  }
  90% {
    opacity: 1;
    background-color: #42a1f5;
  }
  /*90% {
    background-color: #e7f326;
  }*/
  100% {
    opacity: 0;
    transform: translateY(200px);
  }
}
